<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="index" href="./index.html" />
<title><%=h mail[:subject] %> (<%= mail[:date].to_s %>)</title>
</head>
<body style="background:#eee">
<h1 id="subject"><%=h mail[:subject] %></h1>
<div><p id="date" style="font-size:0.8em;"><%= mail[:date].to_s %></div>
<div id="source" style="border: solid 1px #666; background:white; padding:2em;">
<p><%= mail[:source] %></p>
</div>
</body>
</html>
